# Exercise 2: Create markdown cell with title of the notebook
## Data Science Tools and Ecosystem

# Exercise 3: Create a markdown cell for an introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4: Create a markdown cell to list data science languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Exercise 5: Create a markdown cell to list data science libraries
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

# Exercise 6: Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Spyder              |

# Exercise 7: Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# Code Cell
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [9]:
# Code Cell
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

# Exercise 10: Insert a markdown cell to list Objectives
**Objectives:**
- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Provide examples of arithmetic expressions in Python.

# Exercise 11: Create a markdown cell to indicate the Author's name
## Author
Vipanshu Agrawal